<!doctype html>

<html>
  <head>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title> ConverTEMP </title>
		<meta charset="utf-8"/>
  </head>

  <body bgcolor="CFCFCF">
		<div id="titulo_principal">
      <center><h1> Conversor de temperaturas entre grados Celsius y Fahrenheit. </h1></center>
    </div>

		<br>

    <div id="instrucciones">
      <center><p> En esta web podrá convertir fácilmente entre grados Celsius y Fahrenheit. Para ello, lo único que debe hacer es insertar en el recuadro el valor de la temperatura que desea convertir seguido de la inicial C o F, dependiendo de la temperatura a la que se esté refiriendo. Tras esto, solo tiene que pulsar el botó "Enviar" para que se le muestre el valor convertido.</p></center>
    </div>

    <%- body %> <!-- Aqui se carga el formulario -->
  </body>
</html>
